
<h1>Welcome to My DevOps Tools Dashboard!</h1>
<p>Explore the DevOps tools I'm learning and working with!</p>

<h2>Docker</h2>
<p>Docker is a tool designed to make it easier to create, deploy, and run applications by using containers.</p>

<h2>Kubernetes</h2>
<p>Kubernetes is an open-source platform for automating the deployment, scaling, and management of containerized applications.</p>

<h2>Jenkins</h2>
<p>Jenkins is an open-source automation server used to build, test, and deploy software.</p>

<h2>Terraform</h2>
<p>Terraform is an open-source Infrastructure as Code (IaC) tool that enables you to define and provision infrastructure using a declarative configuration language.</p>
